<template>
  <v-layout>
    <v-flex xs12 sm10 offset-sm1>
      <v-card style="padding: 25px">
        <h2>Listado de Compras</h2>
        <br>
        <v-btn flat class="green" style="color: white" to="/compras/nuevo">Nuevo Compra</v-btn>
        <br>
        <br>
        <table style="width:100%">
          <thead>
            <tr>
              <th>#</th>
              <th>Fecha de Emision</th>
              <th>Proveedor</th>
              <th>Monto</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(dato, index) in vista" :key="index">
              <td>{{1+index+(limite*(page-1))}}</td>
              <td>{{dato.fechaEmision}}</td>
              <td>{{dato.proveedor.razonSocial}}</td>
              <td>{{dato.monto}}</td>
              <td>{{dato.estado}}</td>
              <td>
                <v-icon class="red" style="padding: 2px" dark>delete</v-icon>
              </td>

              <br>
            </tr>
          </tbody>
        </table>
        <br>
        <div class="text-xs-center" @click="cambiar">
          <v-pagination v-model="page" :length="lenght"></v-pagination>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      url: "http://localhost:8082/compras/compra",
      datos: [],
      vista: [],
      page: 1,
      lenght: null,
      limite: 5
    };
  },
  methods: {
    getData: function() {
      let _this = this;
      axios
        .get(this.url)
        .then(response => (this.datos = response.data))
        .then(function() {
          _this.lenght = Math.round(_this.datos.length / _this.limite);
          if (_this.datos.length % _this.limite > 0) {
            _this.lenght++;
          }
          _this.cambiar();
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    },
    cambiar() {
      let _this = this;
      _this.vista = _this.datos.slice(
        (_this.page - 1) * _this.limite,
        _this.page * _this.limite
      );
    }
  },
  beforeMount() {
    this.getData();
  }
};
</script>

