<template>
  <div>
    <table>
      <thead>
        <tr>
          <th>Cantidad</th>
          <th>Descripcion</th>
          <th>Precio Unitario</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in carrito" :key="index">
          <td>
            <v-flex xs12 sm3 md2>
              <v-text-field @keyup="actTotal" v-model="item.cantidad"></v-text-field>
            </v-flex>
          </td>
          <td>{{item.producto.categoria.descripcion}} {{item.producto.marca.descripcion}} {{item.producto.presentacion.cantidad}}{{item.producto.presentacion.unidad}}</td>
          <td>{{item.producto.precioV}}</td>
          <td>{{item.cantidad * item.producto.precioV}}</td>
          <td>
            <v-icon class="red" style="padding: 2px" dark @click="deleteItem(item.producto.id)">delete</v-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <v-card-text>Monto Total: S/. {{total}}</v-card-text>
  </div>
</template>
<script>
import { mapState, mapMutations } from "vuex";

export default {
  data() {
    return {
      cantidad:0,
      total:0
    };
  },
  computed: {
    ...mapState(['carrito'])
  },
  methods: {
    ...mapMutations(['deleteItem']),
    actTotal() {
      this.total = 0;
      for (let item of carrito) {
        this.total = this.total + item.cantidad * item.producto.precioV;
      }
    }
  }
};
</script>
