<template>
  <v-layout wrap>
    <v-flex xs12 sm10 offset-sm1>
      <v-card style="padding: 5%; position: static">
        <v-btn dark class="purple darken-1" to="/compras" flat>
          <v-icon>arrow_back</v-icon>
        </v-btn>
        <v-card-title primary-title>
          <h2>Registro de Compra</h2>
        </v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-combobox
                style="position: static"
                v-model="proveedor"
                :items="proveedores"
                label="Seleccione un Proveedor"
                item-text="razonSocial"
                auto-select-first
                flat
              ></v-combobox>
              <v-spacer></v-spacer>
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="fechaEmision"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="fechaEmision"
                  label="Fecha de Emision"
                  prepend-icon="event"
                  readonly
                  disabled
                ></v-text-field>
                <v-date-picker v-model="fechaEmision" no-title scrollable disabled>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn flat color="primary" @click="$refs.menu.save(fechaEmision)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-layout>
          </v-container>
          <div>
            <eleccion></eleccion>
          </div>
          <div>
            <detalles></detalles>
          </div>
          <v-btn flat class="blue" dark @click="postData">Guardar</v-btn>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import axios from "axios";
import Eleccion from "@/components/producto/Eleccion";
import Detalles from "@/components/compra/Detalles";
export default {
  components: {
    Eleccion,
    Detalles
  },
  data() {
    return {
      nameRules: [v => !!v || "Campo obligatorio"],
      urlC: "http://localhost:8082/compras/compra/",
      url: "http://localhost:8082/proveedores/proveedor/",
      proveedores: [],
      valid: true,
      proveedor: "",
      fecha: "",
      listaProd: [],
      listaCompra: [],
      lista: [],
      total: 0,
      fechaEmision: new Date().toISOString().substr(0, 10),
      menu: false
    };
  },
  methods: {
    getData: function() {
      let _this = this;
      axios
        .get(this.url)
        .then(response => (_this.proveedores = response.data))

        .catch(function(error) {
          // handle error
          console.log(error);
        });
    },
    postData: function() {
      var _this = this;
      let detalles = [];
      for (let deta of this.listaProd) {
        let detail = {
          compraDetalleProductoPK: {
            compra_id: 2,
            producto_id: deta.producto_id
          },
          cantidad: deta.cantidad
        };
        detalles.push(detail);
      }
      let compra = {
        proveedor: {
          id: this.proveedor.id
        },
        monto: this.total,
        estado: true,
        fechaEmision: this.fechaEmision,
        compraDetalleProducto: detalles
      };

      console.log(compra.proveedor);
      axios
        .post(this.urlC, compra)
        .then(function() {
          _this.$router.go(-1);
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    }
  },
  beforeMount() {
    this.getData();
  }
};
</script>

