<template>
  <v-layout>
    <v-flex xs12 sm8 offset-sm2>
      <v-card style="padding: 5%; position: static">
        <v-card-title primary-title>
          <h2>Listado de Servicios</h2>
        </v-card-title>
        <v-dialog
        width="500"
        v-model="dialog"
        >
        <v-btn
            slot="activator"
            color="green darken-1"
            dark>
            Agregar Servicio
        </v-btn>
        <v-card style="padding: 5%">
        <v-form ref="form" v-model="valid" lazy-validation>
          <h2>Nuevo Servicio</h2>
          <v-text-field 
            v-model="categoria" 
            :rules="nameRules" 
            label="Categoria" 
            required>
          </v-text-field>
          <v-text-field 
            v-model="precioV" 
            :rules="nameRules" 
            label="Precio" 
            required>
          </v-text-field>
          <v-text-field 
            v-model="ejes" 
            :rules="nameRules" 
            label="Ejes" 
            required>
          </v-text-field>
          <v-text-field 
            v-model="descripcion" 
            :rules="nameRules" 
            label="Descripcion" 
            required>
          </v-text-field>
          <v-btn @click="postData" class="blue" dark>Guardar</v-btn>
        </v-form>
        </v-card>
        </v-dialog>
        <v-card-actions>
          <table>
            <tr>
              <th>ID</th>
              <th>Categoria</th>
              <th>Precio de Venta</th>
              <th>Ejes</th>
              <th>Descripcion</th>
              <th>Opciones</th>
            </tr>
            <tr v-for="(dato, index) in datos" :key="index">
              <td>{{dato.id}}</td>
              <td>{{dato.categoria}}</td>
              <td>{{dato.precioV}}</td>
              <td>{{dato.ejes}}</td>
              <td>{{dato.descripcion}}</td>
              <td>
                <v-icon class="red" style="padding: 2px" dark @click="deleteData(dato.id)">delete</v-icon>
              </td>
            </tr>
          </table>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      nameRules: [v => !!v || "Campo obligatorio"],
      url: "http://localhost:8082/servicioLavaderos/servicioLavadero/",
      datos: [],
      valid: true,
      descripcion: "",
      categoria: "",
      precioV: "",
      ejes: "",
      dialog : false
    };
  },
  methods: {
    getData: function() {
      axios
        .get(this.url)
        .then(response => (this.datos = response.data))
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    },
    postData: function() {
      let _this = this
      if (this.$refs.form.validate()) {
        axios
        .post(this.url, {
            categoria: this.categoria,
            precioV: this.precioV,
            descripcion: this.descripcion
          }).then(function(response) {
          _this.getData();
          _this.dialog = false
          })
      }
    },
    deleteData: function(id){
      let _this = this
        axios
        .delete(this.url + id)
        .then(function(){
          _this.getData()
        })
    }
  },
  beforeMount() {
    this.getData();
  }
  }
</script>
