<template>
  <v-layout>
    <v-flex xs12 sm10 offset-sm1>
      <v-card style="padding: 5%; position: static">
        <v-btn to="/proveedores" dark class="purple darken-1" flat>
          <v-icon>arrow_back</v-icon>
        </v-btn>
        <v-card-title>
          <h2>Registro de Proveedor</h2>
        </v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-text-field v-model="dni" :rules="nameRules" label="DNI" required></v-text-field>
              <v-spacer></v-spacer>
              <v-spacer></v-spacer>
              <v-text-field v-model="nombre" :rules="nameRules" label="Nombres" required></v-text-field>
              <v-spacer></v-spacer>
              <v-spacer></v-spacer>
              <v-text-field v-model="apellidos" :rules="nameRules" label="Apellidos" required></v-text-field>
              <v-spacer></v-spacer>
              <v-spacer></v-spacer>
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="fechaNac"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="fechaNac"
                  label="Fecha de Nacimiento"
                  prepend-icon="event"
                  readonly
                ></v-text-field>
                <v-date-picker v-model="fechaNac" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn flat color="primary" @click="$refs.menu.save(fechaNac)">OK</v-btn>
                </v-date-picker>
              </v-menu>
              <v-spacer></v-spacer>
              <v-spacer></v-spacer>
              <v-text-field v-model="telefono" :rules="nameRules" label="Telefono" required></v-text-field>
              <v-spacer></v-spacer>
              <v-spacer></v-spacer>
              <v-text-field v-model="email" :rules="nameRules" label="E-mail" required></v-text-field>
              <v-spacer></v-spacer>
              <v-spacer></v-spacer>
              <v-text-field v-model="direccion" :rules="nameRules" label="Direccion" required></v-text-field>
              <v-spacer></v-spacer>
              <v-spacer></v-spacer>
              <v-text-field v-model="ruc" :rules="nameRules" label="RUC" required></v-text-field>
              <v-spacer></v-spacer>
              <v-spacer></v-spacer>
              <v-text-field v-model="razonSocial" :rules="nameRules" label="Razon Social" required></v-text-field>
              <v-spacer></v-spacer>
              <v-spacer></v-spacer>
              <v-text-field
                v-model="domiciliofiscal"
                :rules="nameRules"
                label="Domicilio Fiscal"
                required
              ></v-text-field>
            </v-layout>
          </v-container>

          <v-btn :disabled="!valid" class="blue" dark @click="registrar">registrar</v-btn>
          <v-btn @click="clear">limpiar</v-btn>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      url: "http://localhost:8082/proveedores/proveedor/",
      valid: true,
      dni: "",
      nombre: "",
      apellidos: "",
      fechaNac: "",
      telefono: "",
      email: "",
      direccion: "",
      ruc: "",
      razonSocial: "",
      domiciliofiscal: "",
      nameRules: [v => !!v || "Campo obligatorio"],
      menu: false,
      modal: false,
      menu2: false
    };
  },

  methods: {
    registrar() {
      if (this.$refs.form.validate()) {
        // Native form submission is not yet supported
        axios
          .post(this.url, {
            dni: this.dni,
            nombre: this.nombre,
            apellidos: this.apellidos,
            fechaNac: this.fechaNac,
            telefono: this.telefono,
            email: this.email,
            direccion: this.direccion,
            ruc: this.ruc,
            razonSocial: this.razonSocial,
            domicilifiscal: this.domicilifiscal
          })
          .then(function(response) {
            this.$router.push({ name: "Clientes" });
          });
      }
    },
    clear() {
      this.$refs.form.reset();
    },
    cargarEmpresas() {
      var _this = this;
      axios
        .get(this.urlE)
        .then(function(response) {
          console.log(response.data);
          _this.empresas = response.data;
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    }
  },
  mounted() {
    this.cargarEmpresas();
  }
};
</script>

<style scoped>
.v-menu__content {
  left: 98%;
  top: 0%;
}
</style>
