<template>
  <v-layout justify-center>
    <v-flex xs10>
      <v-card style="padding: 25px">
        <h2>Listado de Proveedores</h2>
        <br>
        <v-btn class="green" style="color: white" to="/proveedores/nuevo">Nuevo Proveedor</v-btn>
        <br><br>
        <table style="width:100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>DNI</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Fecha de Nacimiento</th>
              <th>Telefono</th>
              <th>E-mail</th>
              <th>Direccion</th>
              <th>RUC</th>
              <th>Razon Social</th>
              <th>Domicilio Fiscal</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(dato, index) in vista" :key="index">
              <td>{{dato.id}}</td>
              <td>{{dato.dni}}</td>
              <td>{{dato.nombre}}</td>
              <td>{{dato.apellidos}}</td>
              <td>{{dato.fechaNac}}</td>
              <td>{{dato.telefono}}</td>
              <td>{{dato.email}}</td>
              <td>{{dato.direccion}}</td>
              <td>{{dato.ruc}}</td>
              <td>{{dato.razonSocial}}</td>
              <td>{{dato.domiciliofiscal}}</td>
              <td>
                <v-icon class="blue" style="padding: 2px" dark>edit</v-icon>
                <v-icon class="red" style="padding: 2px" dark>delete</v-icon>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <div class="text-xs-center" @click="cambiar">
          <v-pagination v-model="page" :length="lenght"></v-pagination>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      url: "http://localhost:8082/proveedores/proveedor/",
      datos: [],
      vista: [],
      page: 1,
      lenght: null,
      limite: 10
    };
  },
  methods: {
    getData: function() {
        let _this = this
      axios
        .get(this.url)
        .then(response => (this.datos = response.data))
        .then(function() {
          _this.lenght = Math.round(_this.datos.length / _this.limite);
          if (_this.datos.length % _this.limite > 0) {
            _this.lenght++;
          }
          _this.cambiar();
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    },
    cambiar() {
      let _this = this;
      _this.vista = _this.datos.slice(
        (_this.page - 1) * _this.limite,
        _this.page * _this.limite
      );
    }
  },
  beforeMount() {
    this.getData();
  }
};
</script>

