<template>
  <div>
    <v-combobox
      style="position: static"
      v-model="categoria"
      :items="categorias"
      label="Seleccione una Categoria"
      item-text="descripcion"
    ></v-combobox>
    <v-dialog v-model="dialog" width="500">
      <v-btn slot="activator" flat>Categorias</v-btn>

      <v-card>
        <v-card-title>
          <h2>Categorias</h2>
        </v-card-title>

        <v-divider></v-divider>

        <v-form ref="form" v-model="valid" style="padding: 10px 25px 0 25px" lazy-validation>
          <v-text-field v-model="descripcion" :rules="rules" label="Categoria" required></v-text-field>
          <v-btn @click="postData">Guardar</v-btn>
        </v-form>
        <v-card-actions>
          <table>
            <tr>
              <th>ID</th>
              <th>Descipcion</th>
              <th>Opciones</th>
            </tr>
            <tr v-for="(dato, index) in categorias" :key="index">
              <td>{{dato.id}}</td>
              <td>{{dato.descripcion}}</td>
              <td>
                <v-icon class="red" style="padding: 2px" dark @click="deleteData(dato.id)">delete</v-icon>
              </td>
            </tr>
          </table>
        </v-card-actions>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="dialog = false">Cerrar X</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      nameRules: [v => !!v || "Campo obligatorio"],
      url: "http://localhost:8082/categorias/categoria/",
      dialog: false,
      descripcion: "",
      categoria:null,
      categorias: [],
      rules: [v => !!v || "Campo Obligatorio"],
      valid: true,
      descripcion: ""
    };
  },
  watch:{
    categoria: function(){
      this.$emit("categoria", this.categoria);
    }
  },
  methods: {
    getData: function() {
      let _this = this;
      axios
        .get(_this.url)
        .then(response => (_this.categorias = response.data))
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    },
    postData: function() {
      let _this = this;
      if (_this.$refs.form.validate()) {
        axios
          .post(_this.url, {
            descripcion: _this.descripcion
          })
          .then(function(response) {
            console.log(_this.descripcion);
            _this.descripcion = "";
            _this.dialog = false;
            _this.getData();
          });
      }
    },
    deleteData: function(id) {
      axios.delete(this.url + id).then(function(){
        _this.getData();
      });
    }
  },
  beforeMount() {
    this.getData();
  }
};
</script>
