<template>
  <div>
    <v-btn flat class="green" @click="dialog = true" @mousedown="getItems" dark>Agregar Productos</v-btn>
    <br>
    <br>
    <v-dialog v-model="dialog" max-width="600">
      <v-card style="padding: 5%">
        <v-card-title>
          <h2>Seleccione algún producto</h2>
        </v-card-title>

        <table>
          <tr>
            <th>Descripcion</th>
            <th>Precio</th>
          </tr>
          <tr v-for="(item, index) in data" :key="index">
            <td>{{item.categoria.descripcion}} {{item.marca.descripcion}} {{item.presentacion.cantidad}}{{item.presentacion.unidad}} {{item.descricpion}}</td>
            <td>S/. {{item.precioV}}</td>
            <v-btn small @click="setItem(item.id)">add</v-btn>
          </tr>
        </table>
        <div class="text-xs-center" @click="cambiar">
          <v-pagination v-model="page" :length="length"></v-pagination>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import axios from "axios";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
  data() {
    return {
      url: "http://localhost:8082/productos/producto/",
      vista: [],
      page: 1,
      length: 0,
      limite: 5,
      dialog: false,
      modal: false,
      productos: []
    };
  },
  computed: {
    ...mapState(["data"])
  },
  methods: {
    ...mapActions(["getItems"]),
    ...mapMutations(["setItem"]),

    cambiar() {
      let _this = this;
      _this.vista = _this.data.slice(
        (_this.page - 1) * _this.limite,
        _this.page * _this.limite
      );
    }
  }
};
</script>
