<template>
  <div>
    <v-combobox
      style="position: static"
      v-model="marca"
      :items="marcas"
      label="Seleccione una Marca"
      item-text="descripcion"
    ></v-combobox>
    <v-dialog v-model="dialog" width="500">
      <v-btn slot="activator" flat>Marcas</v-btn>

      <v-card>
        <v-card-title>
          <h2>Marcas</h2>
        </v-card-title>

        <v-divider></v-divider>

        <v-form ref="form" v-model="valid" style="padding: 10px 25px 0 25px" lazy-validation>
          <v-text-field v-model="descripcion" :rules="rules" label="Marca" required></v-text-field>
          <v-btn @click="postData">Guardar</v-btn>
        </v-form>
        <v-card-actions style="padding: 10px 25px 0 25px">
          <table>
            <tr>
              <th>ID</th>
              <th>Descipcion</th>
              <th>Opciones</th>
            </tr>
            <tr v-for="(dato, index) in marcas" :key="index">
              <td>{{dato.id}}</td>
              <td>{{dato.descripcion}}</td>
              <td>
                <v-icon class="red" style="padding: 2px" dark @click="deleteData(dato.id)">delete</v-icon>
              </td>
            </tr>
          </table>
        </v-card-actions>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="dialog = false">Cerrar X</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      nameRules: [v => !!v || "Campo obligatorio"],
      url: "http://localhost:8082/marcas/marca/",
      dialog: false,
      valid: true,
      descripcion: "",
      rules: [v => !!v || "Campo Obligatorio"],
      datos: [],
      valid: true,
      descripcion: "",
      marcas: [],
      marca: null
    };
  },
  watch:{
    marca: function(){
      this.$emit("marca", this.marca);
    }
  },
  methods: {
    getData() {
      let _this = this;
      axios
        .get(_this.url)
        .then(response => (_this.marcas = response.data))
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    },
    postData() {
      let _this = this;
      if (_this.$refs.form.validate()) {
        axios
          .post(_this.url, {
            descripcion: _this.descripcion
          })
          .then(function(response) {
            console.log(_this.descripcion);
            _this.descripcion = "";
            _this.dialog = false;
            _this.getData();
          });
      }
    },
    deleteData(id) {
      let _this = this;
      axios.delete(_this.url + id).then(function() {
        _this.getData();
      });
    }
  },
  beforeMount() {
    this.getData();
  }
};
</script>
