<template>
  <v-layout>
    <v-flex xs12 sm10 offset-sm1>
      <v-card style="padding: 5%; position: static">
        <v-btn to="/productos" dark class="purple darken-1" flat>
          <v-icon>arrow_back</v-icon>
        </v-btn>
        <v-card-title>
          <h2>Registro de Producto</h2>
        </v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-container grid-list-md>
            <v-layout wrap>
              <marca @marca="marca = $event" ></marca>

              <v-spacer></v-spacer>

              <categoria @categoria="categoria = $event" ></categoria>

              <v-spacer></v-spacer>

              <presentacion @presentacion="presentacion = $event" ></presentacion>

              <v-spacer></v-spacer>

              <v-text-field v-model="stockMin" :rules="nameRules" label="Stock Minimo" required></v-text-field>

              <v-spacer></v-spacer>

              <v-text-field v-model="descripcion" label="Descripcion" required></v-text-field>

              <v-spacer></v-spacer>
            </v-layout>
          </v-container>

          <v-btn :disabled="!valid" class="blue" dark @click="postData">registrar</v-btn>
          <v-btn @click="clear">limpiar</v-btn>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
import Marca from "@/components/producto/Marcas";
import Categoria from "@/components/producto/Categorias";
import Presentacion from "@/components/producto/Presentaciones";

export default {
  components: {
    Marca,
    Categoria,
    Presentacion
  },
  data() {
    return {
      url: "http://localhost:8082/productos/producto",
      valid: true,
      stockMin: "",
      descripcion: "",
      marca: null,
      categoria: null,
      presentacion: null,
      nameRules: [v => !!v || "Campo Obligatorio"]
    };
  },

  methods: {
    postData() {
      let _this = this;
      if (_this.$refs.form.validate()) {
        // Native form submission is not yet supported
        axios
          .post(_this.url, {
            stockMin: _this.stockMin,
            descripcion: _this.descripcion,
            marca: _this.marca,
            categoria: _this.categoria,
            presentacion: _this.presentacion
          })
          .then(function(response) {
            _this.$router.go(-1);
          });
      }
    },
    clear() {
      this.$refs.form.reset();
    }
  }
};
</script>

<style scoped>
.v-menu__content {
  left: 98%;
  top: 0%;
}
</style>
