<template>
  <div>
    <v-combobox
      style="position: static"
      v-model="presentacion"
      :items="presentaciones"
      label="Seleccione una Presentacion"
      item-text="cantidad"
    ></v-combobox>
    <v-dialog v-model="dialog" width="500">
      <v-btn slot="activator" flat>Presentaciones</v-btn>

      <v-card>
        <v-card-title>
          <h2>Presentaciones</h2>
        </v-card-title>

        <v-divider></v-divider>

        <v-form ref="form" v-model="valid" style="padding: 10px 25px 0 25px" lazy-validation>
          <v-text-field v-model="cantidad" :rules="rules" label="Cantidad" required></v-text-field>
          <v-combobox
            style="position: static"
            v-model="unidad"
            :items="unidades"
            label="Seleccione una Unidad"
            item-text="descripcion"
          ></v-combobox>
          <v-btn @click="postData">Guardar</v-btn>
        </v-form>
        <v-card-actions>
          <table>
            <tr>
              <th>ID</th>
              <th>Descipcion</th>
              <th>Opciones</th>
            </tr>
            <tr v-for="(dato, index) in presentaciones" :key="index">
              <td>{{dato.id}}</td>
              <td>{{dato.cantidad}} {{dato.unidad}}</td>
              <td>
                <v-icon class="red" style="padding: 2px" dark @click="deleteData(dato.id)">delete</v-icon>
              </td>
            </tr>
          </table>
        </v-card-actions>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="dialog = false">Cerrar X</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      nameRules: [v => !!v || "Campo obligatorio"],
      url: "http://localhost:8082/presentaciones/presentacion/",
      presentaciones: [],
      rules: [v => !!v || "Campo Obligatorio"],
      dialog: false,
      unidad: "",
      cantidad: "",
      presentacion: null,
      valid: true,
      descripcion: this.cantidad + " " + this.unidad,
      cantidad: "",
      unidad: "",
      unidades: ["Litro", "Kilogramo", "Mililitro", "Onza"]
    };
  },
  watch: {
    presentacion: function() {
      this.$emit("presentacion", this.presentacion);
    }
  },
  methods: {
    getData: function() {
      let _this = this;
      axios
        .get(_this.url)
        .then(response => (_this.presentaciones = response.data))
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    },
    postData: function() {
      let _this = this;
      if (_this.$refs.form.validate()) {
        axios
          .post(_this.url, {
            descripcion: _this.descripcion
          })
          .then(function(response) {
            console.log(_this.descripcion);
            _this.presentacionCantidad = "";
            _this.presentacionUnidad = "";
            _this.dialogP = false;
            _this.getData();
          });
      }
    },
    deleteData: function(id) {
      let _this = this;
      axios.delete(_this.url + id).then(function() {
        _this.getData();
      });
    }
  },
  beforeMount() {
    this.getData();
  }
};
</script>
