<template>
  <v-layout>
    <v-flex xs12 sm10 offset-sm1>
      <v-card style="padding: 25px">
        <h2>Listado de Productos</h2>
        <br>
        <v-btn class="green" style="color: white" to="/productos/nuevo">Nuevo Producto</v-btn>
        <br>
        <br>
        <table style="width:100%">
          <thead>
            <tr>
              <th>#</th>
              <th>Stock</th>
              <th>Stock Minimo</th>
              <th>Precio de Venta</th>
              <th>Precio de Compra</th>
              <th>Descripcion</th>
              <th>Categoria</th>
              <th>Marca</th>
              <th>Presentacion</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(dato, index) in vista" :key="index">
              <td>{{1+index+(limite*(page-1))}}</td>
              <td>{{dato.stock}}</td>
              <td>{{dato.stockMin}}</td>
              <td>{{dato.precioV}}</td>
              <td>{{dato.precioC}}</td>
              <td>{{dato.descripcion}}</td>
              <td>{{dato.marca.descripcion}}</td>
              <td>{{dato.categoria.descripcion}}</td>
              <td>{{dato.presentacion.cantidad}}{{dato.presentacion.unidad}}</td>
              <td>
                <v-icon class="blue" style="padding: 2px" dark>edit</v-icon>
                <v-icon class="red" style="padding: 2px" dark @click="deleteData(dato.id)">delete</v-icon>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <div class="text-xs-center" @click="cambiar">
          <v-pagination v-model="page" :length="lenght"></v-pagination>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      url: "http://localhost:8082/productos/producto/",
      datos: [],
      vista: [],
      page: 1,
      lenght: 0,
      limite: 5
    };
  },
  methods: {
    getData: function() {
      let _this = this;
      axios
        .get(this.url)
        .then(response => (this.datos = response.data))
        .then(function() {
          _this.lenght = Math.round(_this.datos.length / _this.limite);
          if (_this.datos.length % _this.limite > 0) {
            _this.lenght++;
          }
          _this.cambiar();
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    },
    cambiar() {
      let _this = this;
      _this.vista = _this.datos.slice(
        (_this.page - 1) * _this.limite,
        _this.page * _this.limite
      );
    },
    deleteData: function(id) {
      let _this = this;
      axios
        .delete(this.url + id)
        .then(function() {
          _this.getData();
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    }
  },
  beforeMount() {
    this.getData();
  }
};
</script>

