<template>
  <v-layout wrap>
    <v-flex xs12 sm10 offset-sm1>
      <v-card style="padding: 5%; position: static">
        <v-btn dark class="purple darken-1" to="/ventas" flat>
          <v-icon>arrow_back</v-icon>
        </v-btn>
        <v-card-title primary-title>
          <h2>Registro de Venta</h2>
        </v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-flex xs12 sm6 md4>
            <v-combobox
              style="position: static"
              v-model="cliente"
              :items="clientes"
              label="Seleccione un Cliente"
              item-text="nombre"
              auto-select-first
              flat
            ></v-combobox>
          </v-flex>
          <div>
            <v-btn flat class="green" @click="dialog = true" dark>Agregar Productos</v-btn>
            <v-dialog v-model="dialog" max-width="600">
              <v-card style="padding: 5%">
                <v-card-title>
                  <h2>Seleccione algún producto</h2>
                </v-card-title>
                <table>
                  <tr>
                    <th>Descripcion</th>
                    <th>Precio</th>
                  </tr>
                  <tr v-for="(item, index) in productos" :key="index">
                    <td>{{item.categoria.descripcion}} {{item.marca.descripcion}} {{item.presentacion.cantidad}}{{item.presentacion.unidad}} {{item.descricpion}}</td>
                    <td>S/. {{item.precioV}}</td>
                    <v-btn small @click="addProducto(index)">add</v-btn>
                  </tr>
                  <v-divider></v-divider>
                </table>
              </v-card>
            </v-dialog>
            <table>
              <thead>
                <tr>
                  <th>Cantidad</th>
                  <th>Descripcion</th>
                  <th>Precio Unitario</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(itemCompra,index) in listaProd" :key="index">
                  <td>
                    <v-flex xs12 sm3 md2>
                      <v-text-field @keyup="actTotal" v-model="itemCompra.cantidad"></v-text-field>
                    </v-flex>
                  </td>
                  <td>{{productos[index].categoria.descripcion}} {{productos[index].marca.descripcion}} {{productos[index].presentacion.cantidad}}{{productos[index].presentacion.unidad}}</td>
                  <td>{{productos[index].precioV}}</td>
                  <td>{{productos[index].precioV * itemCompra.cantidad}}</td>
                  <td>
                    <v-icon class="red" style="padding: 2px" dark @click="deleteData(index)">delete</v-icon>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <v-card-text>Monto Total: S/. {{total}}</v-card-text>

          <v-btn flat class="blue" dark @click="postData">Guardar</v-btn>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      nameRules: [v => !!v || "Campo obligatorio"],
      urlC: "http://localhost:8082/ventas/venta/",
      url: "http://localhost:8082/clientes/cliente/",
      urlP: "http://localhost:8082/productos/producto/",
      clientes: [],
      productos: [],
      valid: true,
      cliente: "",
      fecha: "",
      dialog: false,
      listaProd: [],
      listaCompra: [],
      total: 0
    };
  },
  methods: {
    getData: function() {
      var _this = this;
      axios
        .get(this.url)
        .then(response => (_this.clientes = response.data))
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    },
    postData: function() {
      let compra = {
        cliente: {
          id: this.cliente.id
        },
        monto: 24,
        fechaEmision: "2019-01-14 13:22:31",
        compraDetalleProducto: []
      };
      axios
        .post(this.urlC, compra)
        .then(function() {})
        .catch(function(error) {
          // handle error
          console.log(error);
        });

      this.postDetail();
    },
    postDetail() {
      let _this = this
      let listCopm = []
      axios
        .get(_this.urlC)
        .then(function(response) {
          listCopm = response.data;
          console.log(listCopm);

          let compra_id = listCopm.slice(listCopm.length-1, listCopm.length-1);

          for (let it of _this.listaProd) {
            let detalle = {
              compraDetalleProductoPK: {
                compra_id: compra_id,
                producto_id: it.id
              },
              producto: {
                id: it.id
              }
            };

            console.log(detalle.producto.producto_id)
            axios.post(_this.urlD, detalle).catch(function(error) {
              // handle error
              console.log(error);
            });
          }
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    },
    deleteData: function(id) {
      for (let it of this.listaProd) {
        if (it.index == id) {
          let a = this.listaProd.indexOf(it);
          console.log(a);
          this.listaProd.splice(a, a);
        }
      }
      this.actTotal();
    },
    getProductos: function() {
      var _this = this;
      axios
        .get(this.urlP)
        .then(response => (_this.productos = response.data))
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    },
    addProducto(id) {
      let ItemComp = {
        index: id,
        producto_id: this.productos[id].id,
        cantidad: 1,
        precioU: this.productos[id].precioV
      };

      if (this.listaProd != null && this.listaProd != []) {
        let a = 0;
        for (let it of this.listaProd) {
          if (id == it.index) {
            a++;
          }
        }

        if (a < 1) {
          this.listaProd.push(ItemComp);
        }
      }

      this.actTotal();
    },
    actTotal() {
      this.total = 0;
      for (let item of this.listaProd) {
        this.total = this.total + item.cantidad * item.precioU;
      }
    }
  },
  beforeMount() {
    this.getData();
    this.getProductos();
  }
};
</script>

