<template>
  <v-layout>
    <v-flex xs12 sm10 offset-sm1>
      <v-card style="padding: 25px">
        <h2>Listado de Ventas</h2>
        <br>
        <v-btn flat class="green" style="color: white" to="/ventas/nuevo">Nuevo Venta</v-btn>
        <br><br>
        <table style="width:100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Proveedor</th>
              <th>Monto</th>
              <th>Actividad</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(dato, index) in vista" :key="index">
              <td>{{dato.id}}</td>
              <td>{{dato.cliente.empresa.razonSocial}}</td>
              <td>{{dato.monto}}</td>
              <td>{{dato.activo}}</td>
              {{dato.compraDetalleProducto}}
              <td>
                <v-icon class="blue" style="padding: 2px" dark>edit</v-icon>
                <v-icon class="red" style="padding: 2px" dark>delete</v-icon>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <div class="text-xs-center" @click="cambiar">
          <v-pagination v-model="page" :length="lenght"></v-pagination>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      url: "http://localhost:8082/ventas/venta",
      datos: [],
      vista: [],
      page: 1,
      lenght: null,
      limite: 10
    };
  },
  methods: {
    getData: function() {
      let _this = this;
      axios
        .get(this.url)
        .then(function(response) {
          console.log((_this.datos = response.data));
        })
        .then(function() {
          _this.lenght = Math.round(_this.datos.length / _this.limite);
          if (_this.datos.length % _this.limite > 0) {
            _this.lenght++;
          }
          _this.cambiar();
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        });
      console.log(_this.datos);
    },
    cambiar() {
      let _this = this;
      _this.vista = _this.datos.slice(
        (_this.page - 1) * _this.limite,
        _this.page * _this.limite
      );
    }
  },
  beforeMount() {
    this.getData();
  }
};
</script>

