<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card style="padding: 5%; position: static">
        <v-btn to="/clientes/nuevo" class="purple darken-1" dark flat>
          <v-icon>arrow_back</v-icon>
        </v-btn>
        <v-card-title primary-title>
          <h2>Registro de Empresa</h2>
        </v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field v-model="ruc" :rules="nameRules" label="RUC" required></v-text-field>
          <v-text-field v-model="razonSocial" :rules="nameRules" label="Razon Social" required></v-text-field>
          <v-text-field
            v-model="domiciliofiscal"
            :rules="nameRules"
            label="Domicilio Fiscal"
            required
          ></v-text-field>
          <div>
            <v-combobox
              style="position: static"
              v-model="ubigeo"
              :items="ubigeos"
              label="Seleccione un Ubigeo"
              item-text="departamento"
            ></v-combobox>
          </div>
          {{ubigeo.departamento}}
          <v-btn class="blue" dark @click="postData">Guardar</v-btn>
        </v-form>
        <v-card-actions>
          <table>
            <tr>
              <th>ID</th>
              <th>RUC</th>
              <th>Razon Social</th>
              <th>Domicilio Fiscal</th>
              <th>Ubigeo</th>
              <th>Opciones</th>
            </tr>
            <tr v-for="(dato, index ) in datos" :key="index">
              <td>{{dato.id}}</td>
              <td>{{dato.ruc}}</td>
              <td>{{dato.razonSocial}}</td>
              <td>{{dato.domiciliofiscal}}</td>
              <td>{{dato.ubigeo.departamento}}</td>
              <td>
                <v-icon class="red"  style="padding: 2px" dark @click="deleteData(dato.id)">delete</v-icon>
              </td>
            </tr>
          </table>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      nameRules: [v => !!v || "Campo obligatorio"],
      url: "http://localhost:8082/empresas/empresa/",
      urlU: "http://localhost:8082/ubigeos/ubigeo/",
      datos: [],
      ubigeos: [],
      valid: true,
      ruc: "",
      razonSocial: "",
      domiciliofiscal: "",
      ubigeo: []
    };
  },
  methods: {
    getData: function() {
      axios
        .get(this.url)
        .then(response => (this.datos = response.data))
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    },
    postData: function() {
      let _this = this
      if (this.$refs.form.validate()) {
        axios
          .post(this.url, {
            ruc: this.ruc,
            razonSocial: this.razonSocial,
            domiciliofiscal: this.domiciliofiscal,
            ubigeo: this.ubigeo
          })
          .then(function(response) {
            _this.getData()
          });
      }
      this.getData();
    },
    deleteData: function(id) {
      let _this = this;
      axios.delete(this.url + id).then(function(){
        _this.getData();
      });
      
      

      
    },
    getDataU: function() {
      var _this = this;
      axios
        .get(this.urlU)
        .then(response => (_this.ubigeos = response.data))
        .catch(function(error) {
          // handle error
          console.log(error);
        });
    }
  },
  beforeMount() {
    this.getData();
    this.getDataU();
  }
};
</script>
