<template>
  <v-card class="text-md-center" width="500px" style="padding:1% 3%;margin-top: 110px">
    <v-form v-model="valid" @submit.prevent>
      <v-card-title>
        <h2>Inicie Sesion</h2>
      </v-card-title>
      <v-text-field v-model="user" :rules="userRules" label="Usuario" required autofocus></v-text-field>
      <v-text-field
        v-on:keyup.enter="login"
        v-model="password"
        :rules="passwordRules"
        :type="'password'"
        label="Contraseña"
        required
      ></v-text-field>
      <br>
      <v-btn @click="login" class="password" block dark color="blue accent-3">Ingresar</v-btn>
    </v-form>
    <label style="color: red">{{estado}}</label>
    <br>
  </v-card>
</template>
<script>
export default {
  data: () => ({
    valid: false,
    estado: "",
    user: "",
    userRules: [
      v => !!v || "Se requiere un usuario",
      v => v.length <= 10 || "El nombre debe contener menos de 10 caracteres"
    ],
    password: "",
    passwordRules: [
      v => !!v || "Se requiere una contraseña",
      v => v.length <= 16 || "El nombre debe contener menos de 16 caracteres"
    ]
  }),
  methods: {
    login: function() {
      if (
        this.user === "admin" &&
        this.password === "123456" &&
        localStorage.getItem("user") == null
      ) {
        localStorage.setItem("user", "admin");
        this.$router.push("/");
        this.$router.go();
      } else {
        console.log(
          "La clave o contraseña son incorrectas o probablemente tenga una sesion iniciada."
        );
        this.estado =
          "La clave o contraseña son incorrectas o probablemente tenga una sesion iniciada.";
      }
    }
  }
};
</script>
